
<div id="contact">
    <div id="qr"><img src="/more-developer-tools-tricks/assets/images/qrcode_codepo8.github.io.png" alt="QR code to get to this web site"></div>
    <h2>Chris Heilmann</h2>
    <p>WWW: <a href="http://christianheilmann.com">christianheilmann.com</a></p>
    <p>eMail: <a href="gmail@christianheilmann.com">gmail@christianheilmann.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/christianheilmann">christianheilmann</a></p>
    <p>Twitter: <a href="https://twitter.com/codepo8">@codepo8</a></p>
    <p>GitHub: <a href="https://twitter.com/codepo8">@codepo8</a></p>
</div>
