<ul id="gallery">
    <li><a href="/assets/images/CPH-2021-slides-1.jpg">
        <img src="/assets/images/CPH-2021-slides-1.jpg" alt="">
    </a></li>
    <li><a href="/assets/images/CPH-2021-slides-2.jpg">
        <img src="/assets/images/CPH-2021-slides-2.jpg" alt="">
    </a></li>
    <li><a href="/assets/images/CPH-2021-slides3.jpg">
        <img src="/assets/images/CPH-2021-slides-3.jpg" alt="">
    </a></li>
    <li><a href="/assets/images/CPH-2021-slides.jpg">
        <img src="/assets/images/CPH-2021-slides-1.jpg" alt="">
    </a></li>
</ul>
<output></output>
