<ul id="gallery">
    <li><a href="/more-developer-tools-tricks/assets/images/s1.jpg">
        <img src="/more-developer-tools-tricks/assets/images/s1.jpg" alt="First Slide">
    </a></li>
    <li><a href="/more-developer-tools-tricks/assets/images/s2.jpg">
        <img src="/more-developer-tools-tricks/assets/images/s2.jpg" alt="Second Slide">
    </a></li>
    <li><a href="/more-developer-tools-tricks/assets/images/s3.jpg">
        <img src="/more-developer-tools-tricks/assets/images/s3.jpg" alt="Third Slide">
    </a></li>
    <li><a href="/more-developer-tools-tricks/assets/images/s4.jpg">
        <img src="/more-developer-tools-tricks/assets/images/s4.jpg" alt="There are four slides!">
    </a></li>
</ul>
<output></output>
<script>
const o = document.querySelector('output');
o.addEventListener('click', e => o.style.display = 'none');
document.querySelector('#gallery').addEventListener('click', e => {
    if (e.target.tagName === 'IMG') {
        e.preventDefault();
        o.innerHTML = `<img src="${e.target.src}" alt="">`;
        o.style.display = 'block';
    }
});
</script>
    
