<div id="toc">
<ul>
    <li><details><summary>Command Menu</summary>
        <ul>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/command-menu/">In DevTools</a></li>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette">In Browser</a></a></li>
            <li>Everywhere, really</li>
        </ul></details>
    </li>
    <li><details><summary>Console tricks</summary>
        <ul>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/console/utilities">Show me the $</a></li>
            <li>Embrace the values</li>
            <li>Info, error, warn…</li>
            <li>table()</li>
            <li>count</li>
            <li><button id="groups">group</button></li>
            <li>copy()</li>
            <li>monitor events</li>
            <li>Live Expressions <label><input id="mm" type="checkbox">Log mouse movement</label></li>
        </ul></details>
    </li>
    <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/device-mode/">Device / Mode /   tricks</a></li>
    <li><details><summary>Making external changes</summary>
        <ul>
            <li>Elements tool</li>
            <li>Sources tool</li>
            <li>Logpoints</li>
            <li>Overrides</li>
            <li>Snippets</li>
        </ul></details>
    </li>
    <li>Monitoring <a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/changes/changes-tool">changes</a></li>
    <li><details><summary>Making local changes</summary>
        <ul>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/workspaces/">   Workspaces</a></li>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode">Open in VS Code</a></li>
            <li><a href="https://aka.ms/devtools-for-code">DevTools for VS Code</a></li>
        </ul></details>
    </li>
    <li>Devtools for DevTools</li>
    <li>Contributing to DevTools</li>
    <li><details><summary>Resources</summary>
        
            <ul>
                <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/">Microsoft Edge Devtools documentation</a></li>
                <li><a href="https://codepo8.github.io/dearconsole/">Dear Console,…</a></li>
                <li><a href="https://devtoolstips.org/">Devtoolstips.org</a></li>
                <li><a href="https://www.canidev.tools/">Can I DevTools?</a></li>
                <li><a href="https://aka.ms/devtools-for-code">DevTools for VS Code</a></li>
                <li><a href="https://patrickbrosset.com/lab/2022-05-13-whats-that-tool/">What's that tool? (game)</a></li>
            </ul>
        </details>
    </li>
    </ul>
</div>    
<script>
let x = 0;
let y = 0;
document.addEventListener('mousemove', e => {
    x = e.x;
    y = e.y;
    if(document.querySelector('#mm').checked) {
    console.log({x}, {y});
    }
});
const grouplog = (name, collapsed, ...args) => {
    if (collapsed) {
        console.log(`console.group(${name});`);
    } else {
        console.log(`console.groupCollapsed(${name});`);
    }
    args.forEach(arg => console.log(`console.log(${arg});`));
    console.log(`console.groupEnd(${name});`);
    console.group(name);
    args.forEach(arg => console.log(arg));
    console.groupEnd(name);
}
document.querySelector('#groups').addEventListener('click', () => {
    grouplog('Group 1', false, 'Item 1', 'Item 2');
    grouplog('Group 2', true, 'Item 1', 'Item 2');
});

</script>      
