:root {
    --border-colour: white;
    --hoverback: #084571;
}
body {
    font-family: "Inter tight", helvetica, sans-serif;
    font-size: 1.2em;
    background: url(/more-developer-tools-tricks//assets/images/s1.jpg) ,linear-gradient(to right, #1177c2,#147ecf), #1b8bdd;
    background-size: cover;
    background-position: right top;
    color: white;
    margin: 0;
    padding: 0;
}
@media (prefers-color-scheme: light) {
    :root {
       --border-colour: #333;
       --hoverback: #42b0ff;
    }
    body {
        background: #f8f8f8;
        color: #333;
    }
    body a {color: green;}
}
a {color: lime;}
h1 {
    font-size: 2em;
    max-width: 500px;
    padding-left: 1em;
    background: var(--hoverback);
    padding: .2em .5em;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#toc ul > li {
    padding: .4em 0.5em;
    font-size: 1.4em;
    border: 1px solid var(--border-colour);
    margin-bottom: .4em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-image:linear-gradient(to right,var(--hoverback),var(--hoverback));
    transition: background-size 400ms;
}
@media (prefers-reduced-motion) {
    #toc ul > li {
        transition: none;
    }
}
#toc ul ul li {
    font-size: .8em;
    border: none;
}
#toc ul ul li:hover {
    background: transparent;
    color: white;
}
#toc ul > li:hover {
    background-size: 100% 100%;
    color: white;
}
#gallery {
    display: flex;
    gap: 1em;
    margin: 2em 1em;
}
#gallery li {
    flex: 1;
    border: 2px solid var(--border-colour);
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
img {
    width: 100%;
    display: block;
}
output {
    position: absolute;
    top: 130px;
    left: 40px;
    right: 450px;
    border: 5px solid var(--border-colour);
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    display: none;
    background:  #1b8bdd;
}
#navigation {
    display: flex;
    flex-wrap: wrap;
}
#toc {
    flex: 4;
    padding: 1em;
    min-width: 550px;
}

#contact {
    flex: 1;
    padding: 0 1em;
}
#qr {
    margin: 0 auto 0 auto;
}
#qr img {
    width: 400px;
    border: 2px solid var(--border-colour);
}
#contact p {
    margin: 0 0 .2em 0;
}
#contact p a {
    text-decoration: none;
    font-size: 1.3em;
}
