<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More devtools secrets</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: .8em;
        }
        ul {
            list-style: none;
            margin: 0  0 0 1em;
            padding: 0;
        }
        li {
            padding: .2em 0;
        }
    </style>
</head>
<body>
<h1>More DevTools secrets that shouldn't be secrets</h1>
<ul>
<li><details><summary>Command Menu</summary>
    <ul>
        <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/command-menu/">In DevTools</a></li>
        <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/experimental-features/edge-command-palette">In Browser</a></a></li>
        <li>Everywhere, really</li>
    </ul></details>
</li>
<li><details><summary>Console tricks</summary>
    <ul>
        <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/console/utilities">Show me the $</a></li>
        <li>Embrace the values</li>
        <li>More than log()
            <ul>
                <li>Info, error, warn…</li>
                <li>table()</li>
                <li>count</li>
                <li>group</li>
            </ul>
        </li>
        <li>copy()</li>
        <li>monitor events</li>
        <li>Live Expressions</li>
    </ul></details>
</li>
<li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/device-mode/">Device mode tricks</a></li>
<li><details><summary>Making external changes</summary>
    <ul>
        <li>Elements tool</li>
        <li>Sources tool</li>
        <li>Logpoints</li>
        <li>Overrides</li>
        <li>Snippets</li>
    </ul></details>
</li>
<li>Monitoring <a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/changes/changes-tool">changes</a></li>
<li><details><summary>Making local changes</summary>
    <ul>
        <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/workspaces/">   Workspaces</a></li>
        <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/sources/opening-sources-in-vscode">Open in VS Code</a></li>
        <li><a href="https://aka.ms/devtools-for-code">DevTools for VS Code</a></li>
    </ul></details>
</li>
<li>Devtools for DevTools</li>
<li>Contributing to DevTools</li>
<li><details><summary>Resources</summary>
    
        <ul>
            <li><a href="https://learn.microsoft.com/microsoft-edge/devtools-guide-chromium/">Microsoft Edge Devtools documentation</a></li>
            <li><a href="https://codepo8.github.io/dearconsole/">Dear Console,…</a></li>
            <li><a href="https://devtoolstips.org/">Devtoolstips.org</a></li>
            <li><a href="https://www.canidev.tools/">Can I DevTools?</a></li>
            <li><a href="https://aka.ms/devtools-for-code">DevTools for VS Code</a></li>
            <li><a href="https://patrickbrosset.com/lab/2022-05-13-whats-that-tool/">What's that tool? (game)</a></li>
        </ul>
    </details>
</li>
</ul>

</body>
</html>